button{
  border: none;
  background-color: transparent;
  color: black;
}

h1{
  margin-top: 150px;
}
button a{
  list-style: none;
  text-decoration: none
}
.translaterus{
  width: 10%;
  font-size: 17px;
  margin-left:40px;
  color: black;
  border: 2px solid black;
  background: lightblue;
  
}
.translatebel{
  width: 10%;
  font-size: 17px;
  margin-left:40px;
  color: black;
  border: 2px solid black;
  background: lightblue;
  
}
.translatebel:hover{
  background: blue;
  width: 15%;
  font-size: 22px;
  margin-left: 40px;
  transition: all 0.3s ease;
  box-shadow: 4px 6px 12px 3px black;
  color:white;
}


.translatebel  a{
  color: black;
}
.translatebel  a:hover{
  color: white;
}
.slash{
  font-size: 22px;
  margin-left: 40px;
}
.alone{
  text-align: center;
  margin-left: 24%
}
h3{
  text-transform: uppercase;
  color: white;
}
h5{
  margin-left: 30%;
  width: 30%;
}
.drop {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.menu li{
  list-style: none;
  

}
iframe {
  margin-left: 15px;
}
.dws-menu > ul{
display: flex;
justify-content: center;
width: 95%;
 border-radius: 30px;
}

.dws-menu{
 margin: 0;
 padding: 0;
 position: sticky;
 top: 0;
 
}
.dws-menu li a{
  color:blue;
}
.dws-menu ul{
  list-style: none;
  position: absolute;

  
  
}

.dws-menu > ul li a{
  display: block;
  background: lightblue;
  padding: 15px 30px 15px 40px;
  text-decoration: none;
  transition: all 0.3s ease;
  height: 80%;
  

}
.dws-menu > ul li{
  position:relative;
}

.dws-menu li a:hover{
  background: blue;
  box-shadow: 4px 6px 12px 3px black;
  transition: all 0.3s ease;
}
.dws-menu li ul{
  position: absolute;
  min-width: 250px;
  display: none;
  right: -83px;
}
.dws-menu li ul li ul{
  position: absolute;
  min-width: 250px;
  display: none;
  right: 100px;
}
.dws-menu li > ul li{
  border:  1px solid black;
}
.dws-menu li > ul li > a{
  padding: 10px;

}
.dws-menu li:hover > ul{
  display: block;
}

p{
	padding: 20px;
	 margin-left: auto;
    margin-right: auto;
    width: 90%;
}
 .textt{
      background: white;
    border-radius: 20px ;
    border: green ;
}

}
.cinema {
	 width: 100%;
}

.text:hover {
	height: 10% ;
  width: 10%;
 	text-align: center;
	color: #fff;
 	transition-duration: 1s;
 	box-shadow: 0 3px 2px #3c354a;
 	background: blue;
 	transition-timing-function: ease;
 	text-decoration: none;
 	border-radius: 10px;
 }
 .text{
 	min-height: ;
 	height: 8%;
 	width: 8%;
 	background: lightblue;
 	padding : 5px;
 	box-shadow: 0 5px 4px #3c354a;
 	transition-duration: 1s;
 	margin: 20px ;
 	text-decoration: none;
 	border-radius: 10px;
 }
 .war:hover{
 	text-align: center;
	height: 10%;
	color: #fff;
 	transition-duration: 1s;
 	width: 10%;
 	box-shadow: 0 3px 2px #3c354a;
 	background: blue;
 	transition-timing-function: ease;
 	text-decoration: none;
 	border-radius: 10px;

 }
 .war{
  height: 8%;
 	width: 8%;
 	background: lightblue;
 	padding : 5px;
 	box-shadow: 0 5px 4px #3c354a;
 	transition-duration: 1s;
 	margin: 20px;
 	text-decoration: none;
 	border-radius: 10px;
 }

h3 {
	display: inline-flex;
	width: 100%;
  margin: 0;
	height: 8%;
	position: relative;
	font-size: 30px;
  justify-content: center;

}

.hat{
	margin-left: 20px;
	
	
	
}


.spisok2{ 
	width: 100%;
	position: absolute;
	left: 600px;
	top: 1px;
		
    
}

}
li a{
	color: green;
}
li a:hover{
	color: white;
}
 a.button {
  display: flex;
  height: 60px;
  text-decoration: none;
  text-align: center;
  transition-delay: 0.5s;
} 
 a.button:hover {
  display: flex;
  text-decoration: none;
  height: 50px;
 
  text-align: center;
  transition-delay: 0.5s;
}
.h2{
	margin-left: 100px;
  margin-top: 150px;
}
h1{
	margin-left: 100px;
}
b{
	width:  200px;
	padding: 5px;  
   margin-right: 200px;
   float: right;
}

Body,html {
	font-family: cursive;
	width: 100%;
	
  margin: 0;
}
Body{
  margin: 0;
    
    font-weight: 100;
    background: grey

}
div{
	position: relative;
	bottom: 100px;
}
img{

	width: 40%;
	height: 45%;
	padding: 0px 0px 0px 70px;
}
.alone{
  text-align: center;
}
video{
  width: 50%;
  height: 50%;
}
.castle{
	padding: 20px;
	 margin-left: auto;
    margin-right: auto;
    width: 90%;

}

a.button {
  display: flex;
  height: 60px;
  text-decoration: none;
  text-align: center;
  transition-delay: 0.5s;
} 
 a.button:hover {
  display: flex;
  text-decoration: none;
  height: 50px;
 
  text-align: center;
  transition-delay: 0.5s;
}


.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.button1 {
  min-width: 250px;
  min-height: 60px;
  margin-left: 100px;
  margin-bottom: 100px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button1::before {
content: '';
  border-radius: 1000px;
  min-width: calc(250px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button1:hover, .button1:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button1:hover::before, .button1:focus::before {
  opacity: 1;
}

.button1::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button1:hover::after, .button1:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}

.RB{
	margin-bottom: 100px;
}





.blue{
  position:fixed;
  top:0;
  background:blue;
  width:100%;
  height:50px;
}


gradient(#a23982,#1f1013);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

button{
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

button:hover{
  border: 2px solid #104F55;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #104F55;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp {
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 5000vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -5000vh; opacity: 0;}
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}

#head1{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5{
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

#footer{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw,90vh);
  -moz-transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
}


.img{

  width: 80%;
  height: 80%;
  max-width: 300px;
  max-height: 300px;

}

.img2{
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 500px;
}
